/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    margin-bottom: 30px;
    background-color: orange;
}

/*  caratteristiche contenitori generale  */

.contenitore{
    width: 80%;
    margin: auto;
    display: flex;
    /* debug */
    background-color: blueviolet;
}

/*  caratteristiche contenitore dentro header */

header nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img{
    height: 40px;
}

/* inizio main */

main .contenitore{
    margin-bottom: 20px;
}

.items{
    width:calc(100% / 3);
    padding: 0 20px;
    /* debug */
    background-color: aqua;
    height: 200px;
    border: 1px solid black;
}

.sopra-items{
    /* debug */
    height: 80%;
    background-color: blue;
}
.sotto-items{
    /* debug */
    height: 20%;
    background-color: bisque;
}