/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    margin-bottom: 30px;
    background-color: #e96b05;
    position: fixed;
    top: 0px;
    z-index: 500;
    width: 100%;
}

/*  caratteristiche contenitori generale  */

.contenitore{
    width: 85%;
    margin: auto;
    display: flex;
}

/* caratteristiche tag con  flex */

header nav , footer .contenitore{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
}

/*  caratteristiche contenitore dentro header */
.logo img{
    height: 40px;
}

/* inizio main */

main {
   margin: 120px 0;
}

main .contenitore{
    margin-bottom: 20px;
}

/* caratteristiche items dentro main */

.items{
    width:calc(100% / 3);
    position: relative;
    margin: 0px 10px;
}

/* caratteristiche items div */

/* inizio caratteristiche items div sopra */
.sopra-items{
    position: relative;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px;
    background-color: white;
    z-index: 400;
}

.sconto{
    position: absolute;
    left: 0px;
    bottom: 40px;
    color: white;
}

.sopra-items img{
   width: 100%;
   height: 100%;
   display: block;
}

/* sconti prodotti */

.rosso{
    background-color: red;
    margin-right: 5px;
    padding: 3px;
}

.verde{
    background-color: green;
    padding: 3px;
}

/* rosso nascosto nella 6 card */

.nascosto{
    position: absolute;
    z-index: -1;
}

/*  inizio caratteristiche sotto items */

.sotto-items strong, h3{
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

.prezzo{
    color: red;
}

.opaco{
    color: rgba(0, 0, 0, 0.539);
}

/* footer */
footer{
    background-color: black;
}

.contattarci div{
    margin: 5px 0;
}

.contattarci span{
    margin-right: 7px;
}

/* hover immagine */

.immagine-nascosta{
 width: 100%;
 height: 0px;
 position: absolute;
 top: 0px;
}

.sopra-items:hover .immagine-nascosta{
    width: 100%;
    height: 100%;
}

/* bonus hover */

.heart:hover i{
    color: red;
}